#dynamic-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    transition: background-image 2s ease-in-out;
    background-color: #121212;
}


* {
    margin: 0;
    padding: 0px;
}

body {
    background-color: #121212;
    font-family: 'Arial', sans-serif;
    color: #FFFFFF;
    line-height: 1.6;
}



main {
    margin-left: 6rem; 
    padding: 3vh 3vw;
}


.features {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    padding: 2vh 2vw;
    background: none;
    position: absolute;
    bottom: 0;
    width: calc(100% - 6rem); 
}

.feature {
    background: rgba(34, 34, 34, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3vh;
    border-radius: 1rem;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 20vw;
    height: auto;
}

.feature i {
    font-size: 2.5rem;
    color: #d4c70e;
    margin-bottom: 1vh;
}

.feature h3 {
    margin: 1vh 0;
    font-size: 1.8rem;
    color: #FFFFFF;
}

.feature p {
    font-size: 1.4rem;
    color: #BBBBBB;
}
