@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Poppins:400,500&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
.bg-img{
  background: url('../../public/bg.jpg');
  height: 100vh;
  background-size: cover;
  background-position: center;
  transition: background-image 2s ease-in-out;
}
.bg-img:after{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.7);
}
.content {
  position: absolute;
  top: -100%; 
  left: 50%;
  z-index: 999;
  text-align: center;
  padding: 4vh;
  width: 30vw;
  transform: translate(-50%, 0);
  background: rgba(255, 255, 255, 0.04);
  box-shadow: -0.1rem 0.4rem 2.8rem 0 rgba(0, 0, 0, 0.75);
  border-radius: 1.5rem;
  opacity: 0; 
  transition: all 0.8s ease-in-out; 
}

.content.active {
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
}

.content header{
  color: white;
  font-size: clamp(2rem, 2vw, 3rem);
  font-weight: 600;
  margin: 0 0 2.5vh 0;
  font-family: 'Montserrat',sans-serif;
}
.field{
  position: relative;
  height: 6vh;
  width: 100%;
  display: flex;
  background: rgba(255,255,255,0.94);
  border-radius: 2.5vh;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
}
.field span{
  color: #222;
  width: 4vw;
  line-height: 6vh;
}
  input {
  height: 100%;
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: #222;
  font-size: clamp(1rem, 1.5vw, 1.8rem);
  font-family: 'Poppins', sans-serif;
  border-radius: 2.5vh; 
  padding: 0 1.5vw; 
}
.space{
  margin-top: 2vh;
}
.show{
  position: absolute;
  right: 1.5vw;
  bottom: 50%;
  transform: translateY(50%);
  font-size: clamp(0.8rem, 1vw, 1rem);
  font-weight: bold;
  color: #222;
  display: none;
  cursor: pointer;
  font-family: 'Montserrat',sans-serif;
  text-transform: uppercase;
}
.pass-key:valid ~ .show{
  display: block;
}
.pass{
  text-align: left;
  margin: 10px 0;
}
.pass a{
  color: white;
  text-decoration: none;
  font-family: 'Poppins',sans-serif;
  font-size: clamp(0.9rem, 1vw, 1.2vw);
}
.pass:hover a{
  text-decoration: underline;
}
  input[type="submit"] {
  background: #131313;
  border: 0.1rem solid #131313;
  color: white;
  font-size: clamp(1.2rem, 1.5vw, 1.8rem);
  letter-spacing: clamp(0.05rem, 0.2vw, 0.1rem);
  font-weight: 600;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  border-radius: 1rem;
  padding: 1.5vh 2vw;
  width: 100%;
  transition: background 0.2s ease-in-out; 
}

  input[type="submit"]:hover {
  background: #d4c70e;
  transition: background 0.2s ease-in-out;
}

.login{
  color: white;
  margin: 2vh 0;
  font-family: 'Poppins',sans-serif;
  font-size: calc(1rem, 1vw, 1.5rem);
}
.links{
  display: flex;
  cursor: pointer;
  color: white;
  margin: 0 0 2vh 0;
}
.links i{
  font-size: 1.2rem;
}
i span{
  margin-left: 1vw;
  font-weight: 500;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  font-family: 'Poppins',sans-serif;
  font-size: clamp(1rem, 1vw, 1.5rem);
}
.logo {
    width: 10vw; 
    height: 10vw; 
    border-radius: 50%; 
    border: 0.2vw solid #202020; 
    object-fit: cover; 
    margin-bottom: 2vh; 
  }

  body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
  }

